/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.not-found-img {
  width: 400px;
}

.not-found-heading {
  font-family: 'Bree Serif';
  font-weight: 500;
  line-height: 56px;
  font-size: 76px;
  color: #ffffff;
}
