/* Write your CSS here */
.list_data_container {
  margin: 6px;
  background-color: #1e293b;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
}
.list_competing_logo {
  height: 100px;
  width: 100px;
}
.commoncolor1 {
  color: #ffffff;
}
